<% content_for :title, "aaa - research" %>
<% @page = "research" %>
<%= render 'layouts/gameNavBar' %>

<div class="w-100 row px-0 pt-5 justify-content-center align-items-center mx-2">
  <% if is_victories_game %>
    <button class="btn btn-danger ml-auto mr-5" onclick="reset_GrassHopper()"role= "button">Reset Research and Victory Objectives</button>
  <% else %>
    <button class="btn btn-danger ml-auto mr-5" onclick="reset_1940()"role= "button">Reset Research</button>
  <%end %>
  <div class="d-flex flex-wrap w-100">
    <div class="d-flex flex-wrap mx-auto">
    <% current_nation.researches.each do |r| %>
      <% if r.rid <6 %>
        <div class="research-col p-0 mt-5">
          <div class="research row justify-content-center research-table-1  align-items-center m-0 mb-2">
            <div class="text-center"><%=r.name%></div>
          </div>
          <div class="research-col">
            <% current_game.nations.all.each do |n| %>
              <% @x = n.researches.find_by(rid: r.rid) %>
              <button  data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-default <%= @x.enabled ? "btn-research-enabled" : "btn-research"%>" style=";<%= @x.enabled ? "background:"+n.color+";" : ""%>;" role="button"><%=n.name%></button>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
    </div>
    <div class="d-flex flex-wrap mx-auto">
    <% current_nation.researches.each do |r| %>
      <% if r.rid >5 %>
        <div class="research-col  p-0 mt-5">
          <div class="research row justify-content-center research-table-2 align-items-center m-0 mb-2">
            <div class="text-center"><%=r.name%></div>
          </div>
          <div class="research-col">
            <% current_game.nations.all.each do |n| %>
              <% @x = n.researches.find_by(rid: r.rid) %>
              <button  data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-default <%= @x.enabled ? "btn-research-enabled" : "btn-research"%>" style=";<%= @x.enabled ? "background:"+n.color+";" : ""%>;" role="button"><%=n.name%></button>
            <% end %>
          </div>
        </div>
      <%end%>
    <%end%>
    </div>
  </div>
</div>
