<div class="container-fluid" style="margin-bottom:-2.0vw">
        <div id ="c-nation" class="text-center">Research</div>
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-6">
      <div id="research-div" class="container">
        <h1 id="research-title" class="text-center" style="color:#669999">Chart 1</h1>
      </div>
    </div>
    <div class="col-sm-6">
      <div id="research-div" class="container">
        <h1 id="research-title" class="text-center" style="color:#666699">Chart 2</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-bottom:5.0vw">
  <div class="row content">
    <% current_nation.researches.each do |r| %>
      <div class="col-sm-1 research">
        <% if r.rid <6 %>
          <button class="container research-title-1 text-center btn" syle="padding:0.5vw;background:purple">
            <span id="research-tit" class="item text-center" data-toggle="tooltip" title="<%= current_nation.researches.find_by(rid: r.rid).text %>" style="font-size:1.0vw"><strong><%= current_nation.researches.find_by(rid: r.rid).name %></strong></span>
          </button>
        <%else%>
          <button class="container research-title-2 text-center btn" syle="padding:0.5vw;background:purple">
            <span id="research-tit" class="item text-center" data-toggle="tooltip" title="<%= current_nation.researches.find_by(rid: r.rid).text %>" style="font-size:1.0vw"><strong><%= current_nation.researches.find_by(rid: r.rid).name %></strong></span>
          </button>
        <%end%>

      </div>
    <%end%>
    <% current_nation.researches.each do |r| %>
      <div class="col-sm-1 research">
        <div class="container research">
          <% current_game.nations.each do |n| %>
          <% if (!n.name.eql? "Pacific") && (!n.name.eql? "China") %>
            <% if n.researches.find_by(rid: r.rid).enabled %>
              <button data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" class="btn btn-block research-button" role="button" style="padding:0.5vw;background:<%=n.color%>;margin-top:5px"><%=n.name%></buttton>
            <% else%>
              <% if r.rid <6 %>
                <button data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-block research-button" role="button" style="padding:0.5vw;background:#d1e0e0;margin-top:5px"><%=n.name%></buttton>
              <%else%>
                <button data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-block research-button" role="button" style="padding:0.5vw;background:#d2d2e0;margin-top:5px"><%=n.name%></buttton>
              <%end%>
            <%end %>
          <%end %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="bottomaligned" style="position:fixed;background-color:#353535;width:100%">
  <%= link_to "Back", game_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
  <% if["1940Global","1940OneEco","1940Pacific","1940Europe"].include? current_game.game_name%>
    <%= link_to "National Objectives", nation_path(current_eco.uuid), :class =>"btn btn-menu", :role => "button" %>
    <button class="btn btn-menu reset-victory" onclick="reset_1940()"role= "button">Reset</button>
  <% elsif current_game.game_name.eql? "1940Grasshopper" %>
    <%= link_to "National Objectives", nation_path(current_eco.uuid), :class =>"btn btn-menu", :role => "button" %>
    <%= link_to "Victory Objectives", victory_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
    <button class="btn btn-menu reset-victory" onclick="reset_GrassHopper()"role= "button">Reset</button>
  <%end %>
</div>
