<% content_for :title, "aaa - research" %>
<% @page = "research" %>
<%= render 'layouts/gameNavBar' %>

<div class="">
  <% if is_victories_game %>
    <button class="btn btn-danger ml-5 mt-3" onclick="reset_GrassHopper()"role= "button">Reset Research and Victory Objectives</button>
  <% else %>
    <button class="btn btn-danger ml-5 mt-3" onclick="reset_1940()"role= "button">Reset Research</button>
  <%end %>
  <div class="d-flex flex-wrap pt-0">
      <div class="d-flex mx-auto research-table mt-3 overflow-auto">
        <div class="research-col p-0">
          <div class="research d-flex justify-content-center research-table-1  align-items-center"><strong>Table 1</strong></div>
            <% current_game.research_nations.each do |n| %>
              <div class="research d-flex justify-content-center research-table-1  align-items-center" style="background-color:<%=n.colorL%>">
                <%=n.name%>
              </div>
            <% end %>
        </div>
      <% current_nation.researches.each do |r| %>
        <% if r.rid <6 %>
          <div class="research-col p-0">
            <div class="research d-flex justify-content-center research-table-1  align-items-center">
              <div class="text-center "><%=r.name%></div>
            </div>
              <% current_game.research_nations.each do |n| %>
                <% @x = n.researches.find_by(rid: r.rid) %>
                <div class="research d-flex justify-content-center research-table-1  align-items-center" style="background-color:<%=n.colorL%>">
                <div class="form-check m-3 align-items-center mt-0" style="transform: scale(1.5)">
                <%= check_box("tag", @x.rid, {disabled: disable_checkbox(n), checked: @x.enabled, class:"form-check-input research-check", type:"radio", id:@x.rid,  onclick:"research(this)",nation:n.name}) %>
                  <label class="form-check-label" for="defaultCheck1"></label>
                </div>
                </div>
              <% end %>
          </div>
        <%end%>
      <%end%>
      </div>
      <div class="d-flex mx-auto research-table mt-3 overflow-auto">
          <div class="research-col p-0">
            <div class="research d-flex justify-content-center research-table-1  align-items-center"><strong>Table 2</strong></div>
              <% current_game.research_nations.each do |n| %>
                <div class="research d-flex justify-content-center research-table-1  align-items-center" style="background-color:<%=n.colorL%>">
                  <%=n.name%>
                </div>
              <% end %>
          </div>
        <% current_nation.researches.each do |r| %>
          <% if r.rid >5 %>
            <div class="research-col p-0">
              <div class="research d-flex justify-content-center research-table-1  align-items-center">
                <div class="text-center "><%=r.name%></div>
              </div>
                <% current_game.research_nations.each do |n| %>
                  <% @x = n.researches.find_by(rid: r.rid) %>
                  <div class="research d-flex justify-content-center research-table-1  align-items-center" style="background-color:<%=n.colorL%>">
                  <div class="form-check m-3 align-items-center mt-0" style="transform: scale(1.5)">
                  <%= check_box("tag", @x.rid,  {disabled: disable_checkbox(n), checked: @x.enabled, class:"form-check-input research-check", type:"radio", id:@x.rid,  onclick:"research(this)",nation:n.name}) %>
                    <label class="form-check-label" for="defaultCheck1"></label>
                  </div>
                  </div>
                <% end %>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
</div>
