<% content_for :title, "aaa - research" %>
<div class="container-fluid" >
  <div class="text-center title shadow-text" style="margin-bottom:-1.0vw">Research</div>
</div>
<div class="" style="padding:0px;margin:0.5rem">
  <div class="row content" style="padding:0px;margin:0px">
    <div class="col-sm-3" style="padding:0px">
      <div  class="container" style="padding:0.0rem">
        <div id="research-title" class="text-center shadow-text" style="color:#669999">Chart 1</div>
        <table class="table table-research text-center" style="table-layout:fixed">
          <thead>
            <tr>
              <% current_nation.researches.each do |r| %>
                <% if r.rid <3 %>
                  <th style="padding:0px"><div><button class="btn btn-research-top shadow-text" style="background-color:#669999"><strong><%= r.name %></button></strong></div></th>
                <%end%>
              <%end%>
            </tr>
          </thead>
          <tbody>
            <% current_game.nations.all.each do |n| %>
              <% if !["Pacific","China"].include? n.name %>
                <tr>
                  <% n.researches.all.each do |r| %>
                    <% if r.rid <3 %>
                      <td style="padding:0.2rem"><button  data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-research shadow-text" style=";background:<%= r.enabled ? n.color : n.colorL%>;" role="button"><%=n.name%></button>
                      </td>
                    <%end%>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-3" style="padding:0px;padding-right:0.5rem">
      <div  class="container" style="padding:0.0rem">
        <div id="research-title" class="text-center shadow-text" style="color:#669999">Chart 1</div>
        <table class="table table-research text-center" style="table-layout:fixed">
          <thead>
            <tr>
              <% current_nation.researches.each do |r| %>
                <% if 3<= r.rid and r.rid <6 %>
                  <th style="padding:0px"><div><button class="btn btn-research-top shadow-text" style="background-color:#669999"><strong><%= r.name %></button></strong></div></th>
                <%end%>
              <%end%>
            </tr>
          </thead>
          <tbody>
            <% current_game.nations.all.each do |n| %>
              <% if !["Pacific","China"].include? n.name %>
                <tr>
                  <% n.researches.all.each do |r| %>
                    <% if 3<= r.rid and r.rid <6 %>
                      <td style="padding:0.2rem"><button  data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-research shadow-text" style=";background:<%= r.enabled ? n.color : n.colorL%>;" role="button"><%=n.name%></button>
                      </td>
                    <%end%>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-3" style="padding:0px;padding-left:0.5rem">
      <div  class="container" style="padding:0.0rem">
        <div id="research-title" class="text-center shadow-text" style="color:#666699">Chart 2</div>
        <table class="table table-research text-center" style="table-layout:fixed">
          <thead>
            <tr>
              <% current_nation.researches.each do |r| %>
                <% if r.rid >=6 and r.rid <9 %>
                  <th style="padding:0px"><div><button class="btn btn-research-top shadow-text" style="background-color:#666699"><%= r.name %></button></div></th>
                <%end%>
              <%end%>
            </tr>
          </thead>
          <tbody>
            <% current_game.nations.all.each do |n| %>
              <% if !["Pacific","China"].include? n.name %>
                <tr>
                  <% n.researches.all.each do |r| %>
                    <% if r.rid >=6 and r.rid <9 %>
                      <td style="padding:0.2rem"><button  data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-research shadow-text" style=";background:<%= r.enabled ? n.color : n.colorL%>;" role="button"><%=n.name%></button>
                      </td>
                    <%end%>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-3" style="padding:0px">
      <div  class="container" style="padding:0.0rem">
        <div id="research-title" class="text-center shadow-text" style="color:#666699">Chart 2</div>
        <table class="table table-research text-center" style="table-layout:fixed">
          <thead>
            <tr>
              <% current_nation.researches.each do |r| %>
                <% if r.rid >=9 %>
                  <th style="padding:0px"><div><button class="btn btn-research-top shadow-text" style="background-color:#666699"><%= r.name %></button></div></th>
                <%end%>
              <%end%>
            </tr>
          </thead>
          <tbody>
            <% current_game.nations.all.each do |n| %>
              <% if !["Pacific","China"].include? n.name %>
                <tr>
                  <% n.researches.all.each do |r| %>
                    <% if r.rid >=9 %>
                      <td style="padding:0.2rem"><button  data-id="<%=r.rid%>" data-name="<%=n.name%>" id="<%=n.name%>-<%=r.rid%>" onclick="research(this)" class="btn btn-research shadow-text" style=";background:<%= r.enabled ? n.color : n.colorL%>;" role="button"><%=n.name%></button>
                      </td>
                    <%end%>
                  <%end%>
                </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="bottomaligned">
  <%= link_to "Back", game_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
  <%= link_to "National Objectives", nation_path(current_eco.uuid), :class =>"btn btn-menu", :role => "button" %>
  <% if["1940Global","1940OneEco","1940Pacific","1940Europe"].include? current_game.game_name%>
    <button class="btn btn-menu reset-victory" onclick="reset_1940()"role= "button">Reset</button>
  <% elsif ["1940Grasshopper","1940House"] .include? current_game.game_name %>
    <%= link_to "Victory Objectives", victory_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
    <button class="btn btn-menu reset-victory" onclick="reset_GrassHopper()"role= "button">Reset</button>
  <%end %>
</div>
