<div class="container-fluid" style="margin-bottom:-3.0vw">
  <div class=" title text-center">Victory Objectives</div>
</div>
<div class="container-fluid" style="margin-bottom:5.0vw">
  <div class="row content">
    <div class="col-sm-6">
      <div class="container">
        <h1 id="v-title" class="text-center shadow-text" style="color:#ff1a1a"> Axis </h1>
        <% @game.victories.each do |v| %>
          <% if v.axis %>
            <% if v.enabled %>
              <button data-id="<%=v.vid%>" onclick="victory(this)" id="victory-<%=v.vid%>" style="background-color:#ff6666" class="shadow-text victory btn btn-victory" role="button"><strong><%= v.name %></strong> :: <%=v.text %></button>
            <%else%>
              <button data-id="<%=v.vid%>" onclick="victory(this)" id="victory-<%=v.vid%>" style="" class="shadow-text victory btn btn-victory" role="button"><strong><%= v.name %></strong> :: <%=v.text %></button>
            <%end%>
          <%end%>
        <%end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <h1 id="v-title" class="text-center shadow-text" style=color:#0040ff> Allies </h1>
        <% @game.victories.each do |v| %>
          <% if !v.axis %>
            <% if v.enabled %>
              <button data-id="<%=v.vid%>" id="victory-<%=v.vid%>" style="background:#66ccff" class="shadow-text victory btn btn-victory" role="button"><strong><%= v.name %></strong> :: <%=v.text %></button>
            <%else%>
              <button data-id="<%=v.vid%>" onclick="victory(this)" id="victory-<%=v.vid%>"  class="shadow-text victory btn btn-victory" role="button"><strong><%= v.name %></strong> :: <%=v.text %></button>
            <%end%>
          <%end%>
        <%end %>
      </div>
    </div>
  </div>
</div>
<div class="bottomaligned">
  <%= link_to "Back", game_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
  <%= link_to "National Objectives", nation_path(current_eco.uuid), :class =>"btn btn-menu", :role => "button" %>
  <%= link_to "Research and Development", research_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
  <button class="btn btn-menu reset-victory" onclick="reset_GrassHopper()"role= "button">Reset</button>
</div>
