<% content_for :title, "aaa - victories" %>
<% @page = "victory" %>
<%= render 'layouts/gameNavBar' %>
<div class="container">
  <div class="info-card mx-auto mt-2 p-2">
    <div class="sub-title text-center">Click on an Victory Objective once it has been completed</div>
  </div>
    <div class="row">
    <div class="col-sm-6">
      <div class="victory">
        <div class="v-title text-center shadow-text">Axis</div>
        <% @game.victories.each do |v| %>
        <% if v.axis %>
        <div class="form-check m-3 align-items-center mt-0" style="height:30px">
          <%= check_box("tag", v.vid,  {checked: v.enabled, class:"form-check-input my-auto", type:"radio", id:v.vid,  onclick:"victory(this)",nation:v.name, style:"transform: scale(1.5)"}) %>
          <label class="form-check-label my-auto" style="" for="defaultCheck1"><strong><%= v.name %></strong> : <%=v.text %> <small class="my-auto"> <%=v.nation%></small></label>
        </div>
        <%end%>
        <%end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="victory">
        <div class="v-title text-center shadow-text">Allies</div>
        <% @game.victories.each do |v| %>
        <% if !v.axis %>
        <div class="form-check m-3 align-items-center mt-0" style="height:30px">
          <%= check_box("tag", v.vid,  {checked: v.enabled, class:"form-check-input my-auto", type:"radio", id:v.vid,  onclick:"victory(this)",nation:v.name, style:"transform: scale(1.5)"}) %>
          <label class="form-check-label my-auto" style="" for="defaultCheck1"><strong><%= v.name %></strong> : <%=v.text %> <small class="my-auto"> <%=v.nation%></small></label>
        </div>
        <%end%>
        <%end %>
      </div>
    </div>
  </div>
</div>
