<% content_for :title, "aaa - victories" %>
<div class="top-aligned-left d-flex w-100 p-1 top-bar">
  <%= link_to "Back", game_path(current_game.uuid), class:"btn btn-default btn-switch", role:"button" %>
  <div class="d-flex ml-auto">
    <%= link_to "National Objectives", nation_path(current_eco.uuid), class:"btn btn-default btn-switch mx-1", role:"button" %>
    <div class="vertical-line"></div>
    <%= link_to "Research and Development", research_path(current_game.uuid), class:"btn btn-default btn-switch mx-1", role:"button" %>
    <div class="vertical-line"></div>
    <button class="btn btn-default btn-switch btn-reset-victory mx-1" onclick="reset_GrassHopper()"role= "button">Reset</button>
  </div>
</div>
<div class="container w-100">
  <div class="objective-card mx-auto">
    <div class="v-title text-center shadow-text" style="padding-top:40px">Victory Objectives</div>
    <div class="sub-title text-center shadow-text">Click on an objective once it has been completed</div>
  </div>
    <div class="row">
    <div class="col-sm-6">
      <div class="axis">
        <div class="v-title axis text-center shadow-text">Axis</div>
        <% @game.victories.each do |v| %>
          <% if v.axis %>
            <% if v.enabled %>
              <button data-id="<%=v.vid%>" onclick="victory(this)" id="victory-<%=v.vid%>" style="cursor:default" class="btn-block btn btn-victory btn-victory-axis btn-default"><strong><%= v.name %></strong> : <%=v.text %></button>
            <%else%>
              <button data-id="<%=v.vid%>" onclick="victory(this)" id="victory-<%=v.vid%>" class="btn btn-block btn-victory btn-default" role="button"><strong><%= v.name %></strong> : <%=v.text %> <small class="h4 my-auto"> <%=v.nation%></small></button>
            <%end%>
          <%end%>
        <%end %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="allies">
        <div class="v-title allies text-center shadow-text">Allies</div>
        <% @game.victories.each do |v| %>
          <% if !v.axis %>
            <% if v.enabled %>
              <button data-id="<%=v.vid%>" id="victory-<%=v.vid%>" style="cursor:default" class="btn btn-block btn-victory btn-victory-allies btn-default" role="button"><strong><%= v.name %></strong> : <%=v.text %></button>
            <%else%>
              <button data-id="<%=v.vid%>" onclick="victory(this)" id="victory-<%=v.vid%>"  class="btn btn-block btn-victory btn-default" role="button"><strong><%= v.name %></strong> : <%=v.text %> <small class="h4 my-auto"> <%=v.nation%></small></button>
            <%end%>
          <%end%>
        <%end %>
      </div>
    </div>
  </div>
</div>
