<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form>
  <div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
     </div>
     <%= form.text_field :email, placeholder:"Email", autocomplete:"new-password", class:"form-control input-group-form" %>
  </div> <!-- input-group.// -->
  </div> <!-- form-group// -->
  <div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
     </div>
     <%= form.text_field :name, placeholder:"Username (5-15 Characters)", autocomplete:"new-password", class:"form-control" %>
  </div> <!-- input-group.// -->
  </div> <!-- form-group// -->
  <div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
     </div>
     <%= form.password_field :password, placeholder:"Password (6-20 Characters)", autocomplete:"new-password", class:"form-control"%>
  </div> <!-- input-group.// -->
  </div> <!-- form-group// -->
  <div class="form-group">
  <div class="input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
     </div>
     <%= form.password_field :password_confirmation, placeholder:"Confirm Password", autocomplete:"new-password", class:"form-control"%>
  </div> <!-- input-group.// -->
  </div> <!-- form-group// -->
  <div class="form-group">
    <%= form.submit "Sign Up", :class=>"btn btn-block btn-primary" %>
  </div> <!-- form-group// -->
  </form>
<% end %>
