<% unless current_user.nil? %>
<% content_for :title, "aaa - home" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<div class="container" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="button-container">
        <%= link_to "New Game",  new_game_path, class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-new-game"%>
        <%= link_to "Load Game", games_path,    class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-load-game"%>
        <%= link_to "Battle Calulator", battle_calculator_index_path, class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-battle-calulator"%>
        <%= link_to "About", about_path,    class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-about"%>

      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<!-- <div class="bottomaligned">
<input id="sepia-toggle" class="" type="checkbox" data-toggle="toggle" data-on="Black and White" data-off="Sepia"  data-onstyle="bandw" data-offstyle="sepia">
</div> -->
<div class="bottom-aligned-right d-flex">
  <div id="signed-in" style="" class="h3 my-auto text-center shadow-text"> Welcome <%=current_user.email%> </div>
  <pre>  </pre>
  <%= link_to "Sign-out",logout_path, id:"btn-sign-out", class:"btn btn-default shadow-text ", role:"button"%>
</div>



<% else %>
<% content_for :title, "aaa - login" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<div class="container" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="card">
      <article class="card-body">
        <%= link_to 'Sign Up', signup_path, :id=>"sign-up", :class=>"btn btn-outline-primary float-right", :role=>"button" %>
      	<h1 class="card-title mb-4 mt-1">Sing in</h1>
        <p>
          <a class="btn btn-block btn-outline-info" href="<%= '/auth/google' %>"><i class="fab fa-google"></i>   Login via Google</a>
        </p>
        <%= form_tag sessions_path do |form| %>
        	<form>
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        		 </div>
             <%= text_field_tag :username, "", placeholder:"Email or Username", class:"form-control" %>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
        	<div class="input-group">
        		<div class="input-group-prepend">
        		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        		 </div>
             <%= password_field_tag :password, "", placeholder:"Password",  class:"form-control"%>
        	</div> <!-- input-group.// -->
        	</div> <!-- form-group// -->
        	<div class="form-group">
            <%= submit_tag 'Login', :class=>"btn btn-primary btn-block" %>
        	</div> <!-- form-group// -->
        	</form>
        <% end %>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<%end%>
