<% unless current_user.nil? %>
<% content_for :title, "aaa - home" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<div class="container" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="button-container">
        <%= link_to "New Game",  new_game_path, class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-new-game"%>
        <%= link_to "Load Game", games_path,    class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-load-game"%>
        <%= link_to "Battle Calulator", battle_calculator_index_path, class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-battle-calulator"%>
        <%= link_to "About", about_path,    class:"btn btn-outline-light btn-default  btn-block shadow-text", role:"button", id:"btn-about"%>

      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<!-- <div class="bottomaligned">
<input id="sepia-toggle" class="" type="checkbox" data-toggle="toggle" data-on="Black and White" data-off="Sepia"  data-onstyle="bandw" data-offstyle="sepia">
</div> -->
<div class="bottom-aligned-right d-flex">
  <div id="signed-in" style="" class="h3 my-auto text-center shadow-text"> Welcome <%=current_user.email%> </div>
  <pre>  </pre>
  <%= link_to "Sign-out",logout_path, id:"btn-sign-out", class:"btn btn-default shadow-text ", role:"button"%>
</div>



<% else %>
<% content_for :title, "aaa - log in" %>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<div class="login-bar">
  <div class="d-flex login-line">
    <div class="title text-center pt-4 mt-4">Axis and Allies Economy</div>
    <div class="login-form">
      <%= form_tag sessions_path, :class => 'd-flex' do |form| %>
        <form class="">
          <div class="form-group login-group">
          <div class="login-info">Username</div>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
             <%= text_field_tag :username, "", placeholder:"Email or Username", class:"form-control" %>
          </div> <!-- input-group.// -->
          </div> <!-- form-group// -->
          <div class="form-group login-group">
          <div class="login-info">Password</div>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
             </div>
             <%= password_field_tag :password, "", placeholder:"Password",  class:"form-control"%>
          </div> <!-- input-group.// -->
          <div class="login-info mt-2">Forgot Password?</div>
          </div> <!-- form-group// -->
          <div class="form-group login-group">
          <div class="login-info">.</div>
            <%= submit_tag 'Log In', :class=>"btn btn-secondary btn-block" %>
          </div> <!-- form-group// -->
          <div class="form-group login-group">
          <div class="login-info">.</div>
            <a class="btn btn-block btn-secondary" href="<%= '/auth/google' %>"><i class="fab fa-google"></i>   Log in via Google</a>

          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>
<% link_to 'Sign Up', signup_path, :id=>"sign-up", :class=>"btn btn-outline-primary float-right", :role=>"button" %>

<%end%>
