<% content_for :title, "aaa - home" %>


<!-- <div class="bottomaligned">
<input id="sepia-toggle" class="" type="checkbox" data-toggle="toggle" data-on="Black and White" data-off="Sepia"  data-onstyle="bandw" data-offstyle="sepia">
</div> -->

<% content_for :title, "aaa - log in or sign up" %>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<div class="login-bar w-100" style="position:fixed">
  <div class="d-flex login-line justify-content-between">
    <div class="sub-title text-center align-self-center py-5"><%=title%></div>
    <% unless current_user.nil? %>
      <div class="login-form align-self-center p-1 d-flex">
        <div class="align-self-center pr-5" style="white-space: nowrap ; font-size:1.5rem">Logged in: <%=current_user.email%> </div>

        <%= link_to "Log Out",logout_path, id:"btn-log-in", class:"btn btn-secondary btn-block", role:"button"%>
      </div>
    <% else %>
      <div class="login-form">
        <%= form_tag sessions_path, :class => 'd-flex' do |form| %>
          <form class="">
            <div class="form-group login-group">
            <div class="login-info">Username</div>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
               </div>
               <%= text_field_tag :username, "", placeholder:"Email or Username", class:"form-control", required:"true"%>
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group login-group">
            <div class="login-info">Password</div>
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
               </div>
               <%= password_field_tag :password, "", placeholder:"Password",  class:"form-control", required:"true"%>
            </div> <!-- input-group.// -->
            <div class="login-info mt-2">Forgot Password?</div>
            </div> <!-- form-group// -->
            <div class="form-group login-group">
            <div class="login-info" style="visibility: hidden;">.</div>
              <%= submit_tag 'Log In', class:"btn btn-secondary btn-block" %>
            </div> <!-- form-group// -->
            <div class="form-group login-group">
            <div class="login-info" style="visibility: hidden;">.</div>
              <a class="btn btn-block btn-secondary" href="<%= '/auth/google' %>"><i class="fab fa-google"></i>   Log in via Google</a>
            </div>
          </form>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% unless current_user.nil? %>
<div class="container h-100">
  <div class="row content align-self-center h-100">
    <div class="col">
    </div>
    <div class="col-sm-3 align-self-center">
      <div class=" button-container">
        <%= link_to "New Game",  new_game_path, class:"btn btn-default btn-block shadow-text", role:"button", id:"btn-new-game"%>
        <%= link_to "Load Game", games_path,    class:"btn btn-default btn-block shadow-text", role:"button", id:"btn-load-game"%>
        <%= link_to "Battle Calulator", battle_calculator_index_path, class:"btn btn-default btn-block shadow-text", role:"button", id:"btn-battle-calulator"%>
        <%= link_to "About", about_path,    class:"btn btn-default btn-block shadow-text", role:"button", id:"btn-about"%>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<% else %>
<div class="container" style="padding-top:12rem">
  <div class="row content">
    <div class="col-sm-7">
    </div>
    <div class="col-sm-4 signup-card">
      <div class="sub-title" style="">Create an account</div>
      <%= form_with(model: @user, local: true) do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
            <% user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <form>
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
           <%= form.text_field :email, placeholder:"Email", autocomplete:"", required:"true", type:"text", class:"form-control input-group-form" %>
        </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
           </div>
           <%= form.text_field :name, placeholder:"Username (5-15 Characters)", required:"true", autocomplete:"", type:"text", class:"form-control" %>
        </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
           </div>
           <%= form.password_field :password, placeholder:"Password (6-20 Characters)", autocomplete:"new-password", required:"true", type:"text", class:"form-control"%>
        </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
           </div>
           <%= form.password_field :password_confirmation, placeholder:"Confirm Password", autocomplete:"new-password", required:"true", type:"text", class:"form-control"%>
        </div> <!-- input-group.// -->
        </div> <!-- form-group// -->
        <div class="form-group">
          <%= form.submit "Sign Up", :class=>"btn btn-block btn-primary" %>
        </div> <!-- form-group// -->
        </form>
      <% end %>

    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<%end%>
