<% unless current_user.nil? %>
<% content_for :title, "aaa - home" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<div class="container-fluid" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <%= link_to "New Game",  new_game_path, :class =>"btn btn-main btn-basic shadow-text", :role => "button"%>
      <%= link_to "Load Game", games_path,    :class =>"btn btn-main btn-basic shadow-text", :role => "button"%>
      <% if current_user.role.eql? "admin" %>
      <%= link_to "Battle Calulator", battle_calculator_index_path,    :class =>"btn btn-main btn-basic shadow-text", :role => "button"%>
      <% end %>
      <%= link_to "Sign-out",  logout_path,   :class =>"btn btn-main btn-basic shadow-text", :role => "button"%>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<!-- <div class="bottomaligned">
<input id="sepia-toggle" class="" type="checkbox" data-toggle="toggle" data-on="Black and White" data-off="Sepia"  data-onstyle="bandw" data-offstyle="sepia">
</div> -->
<h3 id="signed-in" style="" class="text-center bottomalignedright shadow-text">Signed in: <%=current_user.email%></h3>
<% else %>
<% content_for :title, "aaa - log-in" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<div class="container-fluid" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <%= link_to "Sign in using Email",  signin_path, :class =>"btn btn-main btn-basic shadow-text", :role => "button"%>
      <a class="btn btn-main btn-basic shadow-text" style="margin-left:auto;margin-right:auto" href="<%= '/auth/google' %>">Sign in using Google</a>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
<%end%>
