<%= form_for @game do |f| %>

  <br>
  <br>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3">
        <div class="container">
        </div>
      </div>
      <div class="col-sm-2" style="padding:0px">
        <div class="container text-right" style="padding:0px">
          Game Type:
          <br>
          <br>
          Game Name:
        </div>
      </div>
      <div class="col-sm-4">
        <div class="container">
          <%= select(:game, :game_name, [['1940 Europe','1940Europe'],['1940 Global','1940Global'],['1940 Global (Britian 1 Economy)','1940OneEco'],['1940 Grasshopper','1940Grasshopper'],['1940 Pacific','1940Pacific'],['1942 Spring','1942'],['1914 WWI', '1914']], :style=> "width:80%") %>
          <br>
          <br>
          <%= f.text_field :name, :style=> "width:80%" %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="container">
        </div>
      </div>

    </div>
  </div>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %>
        prohibited this game from being created:
      </h2>
      <ul>
        <% @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.submit :class=>"btn btn-basic btn-lg bottomalignedright", :role=>"button", :style => "position:fixed"%>
<% end %>
