<br>
<h1 class=" title text-center">Load Game</h1>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="list-group">
        <% current_user.games.each do |game| %>
          <a href="<%= game_path(game.uuid) %>" class="btn btn-basic btn-lg" style="padding:0.1vw;font-size:2vw"role="button" ><%= game.name %></a>
          <%= link_to 'Delete', game_path(game.uuid), method: :delete,data: {confirm: "Confirm deletion of game: "+game.name} %>
        <% end %>
        <br>
        <% if current_user.games.first && current_user.games.second%>
        <%= link_to 'Delete All Games', game_destroy_all_path , method: :delete,data: {confirm: "Confirm deletion of ALL games"} %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<%= link_to "Back", home_path, :class =>"btn btn-basic btn-lg bottomaligned", :role => "button", :style => "position:fixed;"%>
