<% content_for :title, "aaa - load game" %>

<div class="title text-center shadow-text" style="">Load Game</div>
<div class="container-fluid" style="padding-bottom:4rem">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <table style="width:100%;padding:0px;margin-top:0.5rem; border-collapse:unset">
        <tbody>
          <% current_user.games.each do |game| %>
            <tr class="spaceUnder",style="padding-top:0.5rem">
              <td style="padding:0px;width:100%"><a href="<%= game_path(game.uuid) %>" class="btn btn-basic" style="width:100%;padding:0.1vw;font-size:2.7rem"role="button" ><%= game.name %></a></td>
              <td style="padding:0px"><div class="container" style="padding-left:0.5rem;display:grid">
                <button id="<%=game.uuid %>", style="", class="btn btn-copy shadow-text", role ="button", onclick="copy(this)">Copy Game</button>
                <%= link_to 'Edit Game', edit_game_path(game.uuid), :class=>"btn btn-edit shadow-text" %>
                <%= link_to 'Delete Game', game_path(game.uuid), :class=>"btn btn-delete shadow-text",method: :delete,data: {confirm: "Confirm deletion of game: "+game.name} %>
              </div></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<%= link_to "Back", home_path, :class =>"btn btn-basic btn-lg bottomaligned", :role => "button"%>
<% if current_user.games.first && current_user.games.second%>
  <%= link_to 'Delete All Games', game_destroy_all_path ,:class=>"bottomalignedright btn btn-delete",:style=>"font-size:1.5rem", method: :delete,data: {confirm: "Confirm deletion of ALL games"} %>
<% end %>
