<% content_for :title, "aaa - load game" %>

<div class="title text-center shadow-text" style="">Load Game</div>
<div class="container-fluid" style="padding-bottom:4rem">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <% current_user.games.each do |game| %>
        <div class="d-flex mb-4">
          <%=link_to game.name, game_path(game.uuid), class:"btn btn-default  btn-block my-auto shadow-text", role:"button" %>
          <div class="d-flex" style="align-items:center">
        <!--    <button id="<%=game.uuid %>", style="", class="btn copy", role ="button", onclick="copy(this)">Copy</button> -->
            <%= link_to 'Copy', nil, class:"btn btn-edit copy", onclick:"copy(this)" , role:"button"%>
            <%= link_to 'Edit', edit_game_path(game.uuid), class:"btn btn-edit edit", role:"button" %>
            <%= link_to 'Delete', game_path(game.uuid), class:"btn btn-edit delete",role:"button", method: :delete,data: {confirm: "Confirm deletion of game: "+game.name} %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<%= link_to "Back", root_path, class:"btn  btn-default btn-back bottom-aligned-left", role: "button"%>
<% if current_user.games.first && current_user.games.second%>
  <%= link_to 'Delete All Games', game_destroy_all_path ,:class=>"bottom-aligned-right btn btn-edit delete",style:"font-size:3.0rem", method: :delete,data: {confirm: "Confirm deletion of ALL games"} %>
<% end %>
