<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-1">
      <div class="container">
      </div>
    </div>
    <div class="col-sm-1">
      <div class="container">
      </div>
    </div>
    <div class="col-sm-8">
      <div class="container">
        <div class="row">
          <h1 class="title text-center" style="color:<%=current_eco.color%>"><%=current_eco.name%></h1>
          <h1 class="title text-center" style="color:<%=current_eco.color%>"> - </h1>
          <h1 class="title text-center" style="color:<%=current_eco.color%>"><%=objective_income%></h1>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="container">
      </div>
    </div>
    <div class="col-sm-1">
      <div class="container">
      </div>
    </div>

<br>
