<div class="container-fluid nations" style="padding-left:0.25vw;padding-right:0.25vw;margin-top:-0.25vw">
  <% current_game.nations.all.each do |n| %>
    <% if ["1940Global","1940OneEco","1940Grasshopper","1914"].include? current_game.game_name%>
      <div class="nation" id="<%=n.name%>" style="color:<%=n.color%>">
    <%elsif ["1942","1940Europe","1940Pacifc"].include? current_game.game_name %>
      <div class="nation" id="<%=n.name%>" style="width:<%=100/current_game.nations.count%>%;color:<%=n.color%>;">
    <%end %>
        <div class="name" style="margin-top: -0.95vw; margin-bottom: -0.75vw;"><%=n.name%></div>
        <div class="monay">
          <div id="<%=n.name%>-bank" class="money text-right"><%=n.bank%></div>
          <div id="<%=n.name%>-divider" class="money text-center" style="width:0.75vw">|</div>
          <div id="<%=n.name%>-income" class="money text-left"><%=n.total_income%></div>
        </div>
      </div>
  <% end %>
</div>

<div class="container-fluid" style="margin-top:-0.1vw;margin-bottom:6.0vw">
  <div class="row content">
    <div class="col-sm-9" style="padding-left:0px">
      <table style="margin-bottom: 0.1vw; width:100%" class="table table-condensed table-striped ">
          <thead>
            <tr style="color:<%=current_nation.color%>" class="table-top">
              <th class="text-center">Count</th>
              <th class="text-center">Buy</th>
              <th class="text-center">Name</th>
              <th class="text-center">A</th>
              <th class="text-center">D</th>
              <th class="text-center">M</th>
              <% if !current_game.units.first.special.eql? "" %>
                <th class="text-center">Special Ability</th>
              <%end%>
            </tr>
          </thead>
          <tbody style="font-size: 1.1vw;">
            <% current_game.units.each do |u| %>
              <% if u.uid%2 ==  0 %>
                <tr class="tablerow1" style="color:<%=current_nation.color%>">
              <% else %>
                <tr class="tablerow2" style="color:<%=current_nation.colorL%>">
              <% end %>
                <td id="<%=u.uid%>" class=" text-center count"><%= u.count %></td>
                <td class="text-center" style="color:white"><a data-uid="<%=u.uid%>" id="<%=u.name%>" onclick="buy_unit(this)" style="background:<%= u.uid%2==0? current_nation.color : current_nation.colorL %>" class="<%=u.name%> btn btn-unit btn-sm btn-block" role="button">$<%= u.cost %></a></td>
                <td class="text-center nowrap"><%= u.name %></td>
                <td class="text-center"><%= u.attack %></td>
                <td class="text-center"><%= u.defense %></td>
                <td class="text-center"><%= u.movement %></td>
                <% if !current_game.units.first.special.eql? "" %>
                  <td class="" style="padding-left:20px"><%= u.special %></td>
                <% end%>
              </tr>
            <% end %>
          </tbody>
        </table>
        <button id="reset" onclick="reset_buy()" class="btn btn-info " role="button" style="background:<%=current_nation.color%>;color:white">Reset Buy</button>
        <button id="pacific" onclick="buy_pacific()" class="btn btn-info " role="button" style="background:<%=current_nation.color%>;color:white;<%if current_nation.name != ("Britain"||"UK Europe")%>display:none<% end %>">Buy Pacific Units</button>
      </div>

    <div class="col-sm-3" style="padding-left:0px;padding-right:0.25vw">
      <div class="row" style="margin-left:0px; margin-right:0px">
        <div id="change-eco" onclick="change_eco()" style="font-size:3.3vw;background:<%=current_eco.color%>" class="text-center col btn btn-info btn-block btn-lg" role="button"><%=current_eco.name%></div>
        <div class="w-100"></div>
        <div class="text-center col nowrap"><h1 id="eco-bank">Bank <%=current_eco.bank%></h1></div>
        <div class="text-center col nowrap"><h1 id="eco-income">Income <%=current_eco.income%></h1></div>
        <div class="w-100"></div>
        <div data-amount="1" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+1</div>
        <div data-amount="1" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+1</div>
        <div class="w-100"></div>
        <div data-amount="-1" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-1</div>
        <div data-amount="-1" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-1</div>
        <div class="w-100"></div>
        <div data-amount="5" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+5</div>
        <div data-amount="5" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+5</div>
        <div class="w-100"></div>
        <div data-amount="-5" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-5</div>
        <div data-amount="-5" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-5</div>
        <div class="w-100"></div>
        <div data-amount="10" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+10</div>
        <div data-amount="10" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+10</div>
        <div class="w-100"></div>
        <div data-amount="-10" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-10</div>
        <div data-amount="-10" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-10</div>
      </div>
      <br>
      <div style="font-size:1.8vw">
        <% if["1940Global","1940OneEco","1940Pacific","1940Europe"].include? current_game.game_name%>
          <%= link_to "National Objectives", nation_path(current_eco.uuid), :id => "objective", :class =>"btn btn-info btn-block side-button", :role => "button", :style =>"font-size:1.8vw;background:"+current_eco.color %>
          <%= link_to "Research and Development", research_path(current_game.uuid), :id => "research", :class =>"btn btn-info btn-block side-button", :role => "button", :style => "font-size:1.8vw;background:"+current_eco.colorL %>
        <%elsif current_game.game_name.eql? "1940Grasshopper"%>
          <%= link_to "National Objectives", nation_path(current_eco.uuid), :id => "objective", :class =>"btn btn-info btn-block side-button", :role => "button", :style =>"font-size:1.8vw;background:"+current_eco.color %>
          <%= link_to "Victory Objectives", victory_path(current_game.uuid), :id => "victory", :class =>"btn btn-info btn-block side-button", :role => "button", :style =>"font-size:1.8vw;background:"+current_eco.colorL %>
          <%= link_to "Research and Development", research_path(current_game.uuid), :id => "research", :class =>"btn btn-info btn-block side-button", :role => "button", :style => "font-size:1.8vw;background:"+current_eco.color %>
        <%else%>
        <%end%>
      </div>
      </div>
  </div>
</div>
<div class="container-fluid bottomaligned nations" style="background:#353535;width:100%;">
      <%= link_to "Exit", home_path, :class =>"bottomaligned nation btn btn-basic btn-lg", :style=>"", :role => "button" %>
      <div id="c-nation" class="nation text-center" style="color:<%=current_nation.color%>" ><%=current_nation.name%>-<%=current_nation.bank%></div>
      <button id="end-turn" class="bottomalignedright nation btn btn-secondary" onclick="end_turn()" style="height:7vw;background:<%=current_nation.color%>" role="button">End Turn</button>
</div>

<%current_nation.researches.all.each do |r|
  if ["Mass Production", "Improved Shipyards"].include? r.name and r.enabled%>
    <body onload="cheap()">
<%end
end %>
<!--<%= image_tag current_nation.roundel , :id => "roundel"%>-->

<script>
(function($) {
    $(function cheap() {
      $(".Submarine").text("$5");
      $(".Transport").text("$6");
      $(".Destroyer").text("$7");
      $(".Cruiser").text("$9");
      $(".Battleship").text("$17");
      $(".Carrier").text("$13");
    });
}(jQuery));
</script>
