<div class="nations">
  <% current_game.nations.all.each do |n| %>
    <% if ["1940","Grasshopper","1914"].include? current_game.game_name%>
      <div class="nation" id="<%=n.name%>" style="color:<%=n.color%>">
    <%elsif current_game.game_name.eql? "1942" %>
      <div class="nation" id="<%=n.name%>" style="width:<%=100/current_game.nations.count%>%;color:<%=n.color%>;">
    <%end %>
        <div class="name"><%=n.name%></div>
        <br>
        <div id="<%=n.name%>-bank" class="money"><%=n.bank%></div>
        <div id="<%=n.name%>-divider" class="money">|</div>
        <div id="<%=n.name%>-income" class="money"><%=n.total_income%></div>
      </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-5">
      <div class="container">
        <table style="margin-bottom: 5px;" class="table table-condensed table-striped ">
          <thead>
            <tr style="color:<%=current_nation.color%>" class="table-top">
              <th class="text-center">Count</th>
              <th class="text-center">Buy</th>
              <th class="text-center">Name</th>
              <th class="text-center">A</th>
              <th class="text-center">D</th>
              <th class="text-center">M</th>
              <th class="text-center">C</th>
            </tr>
          </thead>
          <tbody>
            <% current_game.units.each do |u| %>
              <tr class="text-center">
                <td id="<%=u.uid%>" class="count"><%= u.count %></td>
                <td><a data-uid="<%=u.uid%>" onclick="buy_unit(this)" style="background: <%= u.uid%2==0? current_nation.color : current_nation.colorL %>" class="btn btn-unit btn-sm btn-block" role="button"><%= u.cost %></a></td>
                <td><%= u.name %></td>
                <td><%= u.attack %></td>
                <td><%= u.defense %></td>
                <td><%= u.movement %></td>
                <td><%= u.cost %></td>
              </tr>
            <% end %>
          </tbody>
          <thead>
            <tr style="color:<%=current_nation.color%>" class="table-top">
              <th class="text-center">Count</th>
              <th class="text-center">Buy</th>
              <th class="text-center">Name</th>
              <th class="text-center">A</th>
              <th class="text-center">D</th>
              <th class="text-center">M</th>
              <th class="text-center">C</th>
            </tr>
          </thead>
        </table>
        <button id="reset" onclick="reset_buy()" class="btn btn-info " role="button" style="background:<%=current_nation.color%>;color:white">Reset Buy</button>
        <button id="pacific" onclick="buy_pacific()" class="btn btn-info " role="button" style="background:<%=current_nation.color%>;color:white;<%if current_nation.name != ("Britain"||"UK Europe")%>display:none<% end %>">Buy Pacific Units</button>
      </div>
    </div>

    <div class="col-sm-4">
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div id="change-eco" onclick="change_eco()" style="background:<%=current_eco.color%>" class="text-center col btn btn-info btn-block btn-lg" role="button"><%=current_eco.name%></div>
        <div class="w-100"></div>
        <div class="text-center col"><h1 id="eco-bank">Bank <%=current_eco.bank%></h1></div>
        <div class="text-center col"><h1 id="eco-income">Income <%=current_eco.income%></h1></div>
        <div class="w-100"></div>
        <div data-amount="1" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+1</div>
        <div data-amount="1" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+1</div>
        <div class="w-100"></div>
        <div data-amount="-1" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-1</div>
        <div data-amount="-1" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-1</div>
        <div class="w-100"></div>
        <div data-amount="5" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+5</div>
        <div data-amount="5" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+5</div>
        <div class="w-100"></div>
        <div data-amount="-5" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-5</div>
        <div data-amount="-5" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-5</div>
        <div class="w-100"></div>
        <div data-amount="10" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+10</div>
        <div data-amount="10" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-pos text-center col btn btn-info btn-block" role="button">+10</div>
        <div class="w-100"></div>
        <div data-amount="-10" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-10</div>
        <div data-amount="-10" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-neg text-center col btn btn-info btn-block" role="button">-10</div>
      </div>
      <br>
      <% if current_game.game_name.eql? "1940"%>
        <%= link_to "National Objectives", nation_path(current_eco.uuid), :id => "objective", :class =>"btn btn-info btn-block", :role => "button", :style =>"background:"+current_eco.color %>
        <%= link_to "Research and Development", research_path(current_game.uuid), :id => "research", :class =>"btn btn-info btn-block", :role => "button", :style => "background:"+current_eco.colorL %>
      <%elsif current_game.game_name.eql? "Grasshopper"%>
        <%= link_to "National Objectives", nation_path(current_eco.uuid), :id => "objective", :class =>"btn btn-info btn-block", :role => "button", :style =>"background:"+current_eco.color %>
        <%= link_to "Victory Objectives", victory_path(current_game.uuid), :id => "victory", :class =>"btn btn-info btn-block", :role => "button", :style =>"background:"+current_eco.colorL %>
        <%= link_to "Research and Development", research_path(current_game.uuid), :id => "research", :class =>"btn btn-info btn-block", :role => "button", :style => "background:"+current_eco.color %>
      <%else%>
      <%end%>

      </div>
  </div>

<div class="container-fluid">
  <div class="row content bottom">
    <div class="col-sm-3">
      <span class="bottomaligned"><%= link_to "Exit", "/welcome", :class =>"btn btn-info btn-lg", :role => "button" %></spn>
    </div>
    <div class="col-sm-6">
      <div class="inline">
        <h1  id="c-nation" class="text-center" style="color:<%=current_nation.color%>" ><!--<%= image_tag current_nation.roundel , :id => "roundel"%>--><%=current_nation.name%>-<%=current_nation.bank%></h1>
      </div>
    </div>
    <div class="col-sm-3">
      <button id="end-turn" class="btn btn-secondary btn-block" onclick="end_turn()" style="background:<%=current_nation.color%>" role="button">
        <span class="glyphicon glyphicon-paperclip" style="vertical-align:middle"></span> End Turn
      </button>
    </div>
  </div>
