<div class="nations">
  <% current_game.nations.each do |n| %>
    <span class="" id="<%=n.name%>" style="color:rgb(<%=n.color%>)">
      <div class="name"><%=n.name%></div>
      <div id="<%=n.name%>-bank" class="money"><%=n.bank%></div>
      <div id="<%=n.name%>-divider" class="money">|</div>
      <div id="<%=n.name%>-income" class="money"><%=n.income%></div></span>
  <% end %>
</div>

<div class="col-sm-4">
  <div class="container">
    <table class="table table-condensed table-striped ">
      <thead>
        <tr style="font-size:20px">
          <th style="text-align:center">Count</th>
          <th style="text-align:center">Buy</th>
          <th style="text-align:center">Name</th>
          <th style="text-align:center">A</th>
          <th style="text-align:center">D</th>
          <th style="text-align:center">M</th>
          <th style="text-align:center">C</th>
        </tr>
      </thead>
      <tbody>
        <% current_game.units.each do |u| %>
          <tr style="text-align:center;">
            <td><%= u.count %></td>
            <td><a class="btn btn-info btn-sm btn-block unit" role="button"><%= u.cost %></a></td>
            <td><%= u.name %></td>
            <td><%= u.attack %></td>
            <td><%= u.defense %></td>
            <td><%= u.movement %></td>
            <td><%= u.cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="bottom">
  <span><a href="/welcome" class="btn btn-info" role="button">Exit</a></span>
  <span id="c-nation" style="color:rgb(<%=current_nation.color%>)"><h1><%= current_nation.name %></h1></span>
  <span><input id="end-turn" type="button" class="btn btn-info" value="End Turn"></span>
</div>
