<!-- <div class="container-fluid nations nationsCSS shadow-text">
  <% current_game.nations.all.each do |n| %>
    <% if ["1940Global","1940OneEco","1940Grasshopper","1914"].include? current_game.game_name%>
      <div class="nation" id="<%=n.name%>" style="color:<%=n.color%>">
    <%elsif ["1942","1940Europe","1940Pacifc"].include? current_game.game_name %>
      <div class="nation" id="<%=n.name%>" style="width:<%=100/current_game.nations.count%>%;color:<%=n.color%>;">
    <%end %>
        <div class="name"><%=n.name%></div>
        <div class="monay">
          <div id="<%=n.name%>-bank" class="money text-right"><%=n.bank%></div>
          <div id="<%=n.name%>-divider" class="money text-center" style="width:0.75vw">|</div>
          <div id="<%=n.name%>-income" class="money text-left"><%=n.total_income%></div>
        </div>
      </div>
  <% end %>
</div> -->

<div class="row nations" style="">
  <% @game.nations.all.each do |n| %>
    <div class="nation" style="padding:0.0px;margin:top:0.0px;margin-left:auto;margin-right:auto;color:<%=n.color%>">
      <div class="shadow-text"><%= n.name %></div>
      <div class="money">
        <div id="<%=n.name%>-bank" class="shadow-text"><%=n.bank%></div>
        <div id="<%=n.name%>-divider" class="shadow-text" style="">|</div>
        <div id="<%=n.name%>-income" class="shadow-text"><%=n.total_income%></div>
      </div>
    </div>
  <%end%>
</div>

<div class="container-fluid" style="margin-bottom:4.9rem;padding-top:6.0vw">
  <div class="row content">
    <div class="col-sm-9" style="padding-left:0px">
      <table style="margin-bottom: 0.1vw; width:100%" class="table table-condensed ">
          <thead>
            <tr style="color:<%=current_nation.color%>;font-size:1.6rem;background-color: rgba(0, 0, 0, 0.4);z-index:-1;" class="shadow-text table-top">
              <th class="text-center">Count</th>
              <th class="text-center">Buy</th>
              <th class="text-center">Name</th>
              <th class="text-center">A</th>
              <th class="text-center">D</th>
              <th class="text-center">M</th>
              <% if !current_game.units.first.special.eql? "" %>
                <th class="text-center">Special Ability</th>
              <%end%>
            </tr>
          </thead>
          <tbody class="" style="font-weight:500;font-size: 1.35rem;">
            <% current_game.units.each do |u| %>
              <% if u.uid%2 ==  0 %>
                <tr class="tablerow1 shadow-text" style="color:<%= current_nation.color%>">
              <% else %>
                <tr class="tablerow2 shadow-text" style="">
              <% end %>
                <td id="<%=u.uid%>" class=" text-center count"><%= u.count %></td>
                <td class="text-center"><button data-uid="<%=u.uid%>" id="<%=u.name%>" onclick="buy_unit(this)" style="background:<%= u.uid%2==0? current_nation.color : current_nation.colorL %>" class="<%=u.name%> btn btn-unit" role="button">$<%= u.cost %></button></td>
                <td class="text-center nowrap"><%= u.name %></td>
                <td class="text-center"><%= u.attack %></td>
                <td class="text-center"><%= u.defense %></td>
                <td class="text-center"><%= u.movement %></td>
                <% if !current_game.units.first.special.eql? "" %>
                  <td class="" style=";padding-left:20px">
                      <% u.specials.all.each  do |s|%>
                        <%= s.title + ","%>
                      <% end %></td>
                <% end%>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td><button id="reset" onclick="reset_buy()" class="btn btn-delete btn-game shadow-text" role="button">Reset Buy</button></td>
              <td><button id="pacific" onclick="buy_pacific()" class="btn btn-copy btn-game shadow-text" role="button" style="<%if !["Britain","United Kingdom"].include? current_nation.name%>display:none<% end %>">Buy Pacific Units</button></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
      </table>
    </div>

    <div class="col-sm-3" style="padding-left:0px;padding-right:0.25vw">
      <div class="row" style="margin-left:0px; margin-right:0px">
        <button id="change-eco" onclick="change_eco()" style="background:<%=current_eco.color%>" class="text-center col btn" role="button"><%=current_eco.name%></button>
        <table style="width:100%">
          <tbody>
            <tr class="change">
              <td class="text-center col nowrap shadow-text" id="eco-bank">Bank <%=current_eco.bank%></td>
              <td class="text-center col nowrap shadow-text" id="eco-income">Income <%=current_eco.income%></td>
            </tr>
            <tr class="change">
              <td><button data-amount="1" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+1</button></td>
              <td><button data-amount="1" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+1</button></td>
            </tr>
            <tr class="change">
              <td><button data-amount="-1" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-1</button></td>
              <td><button data-amount="-1" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-1</button></td>
            </tr>
            <tr class="change">
              <td><button data-amount="5" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+5</button></td>
              <td><button data-amount="5" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+5</button></td>
            </tr>
            <tr class="change">
              <td><button data-amount="-5" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-5</button></td>
              <td><button data-amount="-5" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-5</button></td>
            </tr>
            <tr class="change">
              <td><button data-amount="10" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+10</button></td>
              <td><button data-amount="10" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+10</button></td>
            </tr>
            <tr class="change">
              <td><button data-amount="-10" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-10</button></td>
              <td><button data-amount="-10" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-10</button></td>
            </tr>
          </tbody>
        </table>
        <div class="container" style="padding:0.2rem; margin-top:0.5rem">
          <% if["1940Global","1940OneEco","1940Pacific","1940Europe","1940Grasshopper"].include? current_game.game_name%>
            <%= link_to "National Objectives", nation_path(current_eco.uuid), :id => "objective", :class =>"btn btn-side shadow-text", :role => "button", :style =>"background:"+current_eco.color %>
            <%= link_to "Research and Development", research_path(current_game.uuid), :id => "research", :class =>"btn btn-side shadow-text", :role => "button", :style => "background:"+current_eco.colorL %>
          <%end%>
          <%if ["1940Grasshopper"].include? current_game.game_name%>
            <%= link_to "Victory Objectives", victory_path(current_game.uuid), :id => "victory", :class =>"btn btn-side shadow-text", :role => "button", :style =>"background:"+current_eco.color %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
    <%= link_to "Exit", home_path, :class =>"bottomaligned nation btn btn-basic", :style=>"padding:0.5rem;padding-top:0.2rem;padding-bottom:0.2rem", :role => "button" %>
<div class="bottomalignedmiddle">
    <table style="margin-left:auto;margin-right:auto">
      <tbody>
        <tr style="background-color:rgba(0, 0, 0, 0.3);">
          <td style="pre-wrap:nowrap"><%=image_tag current_nation.roundel , :id => "roundel", :style => "vertical-align:middle;height:5vw"%></td>
          <td id="c-nation" class="nation shadow text-center" style="font-size:10vh;color:<%=current_nation.color%>"><%=current_nation.name%>-<%=current_nation.bank%></td>
        </tr>
      <tbody>
    </table>
</div>
    <button id="end-turn" class="bottomalignedright nation btn btn-end-turn" onclick="end_turn()" style="background:<%=current_nation.color%>" role="button">End Turn</button>

<%current_nation.researches.all.each do |r|
  if ["Mass Production", "Improved Shipyards"].include? r.name and r.enabled%>
    <body onload="cheap()">
<%end
end %>


<script>
(function($) {
    $(function cheap() {
      $(".Submarine").text("$5");
      $(".Transport").text("$6");
      $(".Destroyer").text("$7");
      $(".Cruiser").text("$9");
      $(".Battleship").text("$17");
      $(".Carrier").text("$13");
    });
}(jQuery));
</script>
