<% content_for :title, "aaa -"+@game.name %>

<div class="nations d-flex">
  <% @game.nations.all.each do |n| %>
    <div id="<%=n.name%>" class="nation mx-auto" style="color:<%=n.color%>">
      <div class="nation-name shadow-text"><%= n.name %></div>
      <div class="money">
        <div id="<%=n.name%>-bank" class="shadow-text"><%=n.bank%></div>
        <div id="<%=n.name%>-divider" class="shadow-text" style="">|</div>
        <div id="<%=n.name%>-income" class="shadow-text"><%=n.total_income%></div>
      </div>
    </div>
  <%end%>
</div>

<div class="container container-game" style="max-width:100%">
  <div class="row">
    <div class="col-sm-8" style="padding-left:0px">
      <table style="margin-bottom: 0.1vw; width:100%" class="table table-condensed ">
          <thead>
            <tr style="color:<%=current_nation.color%>;" class="shadow-text table-top">
              <th class="text-center">Count</th>
              <th class="text-center">Buy</th>
              <th class="text-center">Name</th>
              <th class="text-center">A</th>
              <th class="text-center">D</th>
              <th class="text-center">M</th>
              <% if !current_game.units.first.special.eql? "" %>
                <th class="text-center">Special Ability</th>
              <%end%>
            </tr>
          </thead>
          <tbody class="unit-table">
            <% current_game.units.each do |u| %>
              <% if u.uid%2 ==  0 %>
                <tr class="tablerow1" style="background-color:<%= current_nation.color%>">
              <% else %>
                <tr class="tablerow2 shadow-text" style="background-color:rgba(0, 0, 0, 0.4)">
              <% end %>
                <td id="<%=u.uid%>" class=" text-center count"><%= u.count %></td>
                <td class="text-center"><button data-uid="<%=u.uid%>" id="<%=u.name%>" onclick="buy_unit(this)" style="background:<%= u.uid%2==0? current_nation.color : current_nation.colorL %>" class="<%=u.name%> btn btn-unit shadow-text" role="button">$<%= u.cost %></button></td>
                <td class="text-center nowrap"><%= u.name %></td>
                <td class="text-center"><%= u.attack %></td>
                <td class="text-center"><%= u.defense %></td>
                <td class="text-center"><%= u.movement %></td>
                <% if !current_game.units.first.special.eql? "" %>
                  <td class="" style=";padding-left:20px">
                      <% u.specials.all.each  do |s|%>
                        <%= s.title + ","%>
                      <% end %></td>
                <% end%>
              </tr>
            <% end %>
            <tr>
              <td></td>

              <td><button id="pacific" onclick="buy_pacific()" class="btn btn-edit-game btn-copy btn-game shadow-text" role="button" style="<%if !["Britain","United Kingdom"].include? current_nation.name%>display:none<% end %>">Buy Pacific Units</button></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3" style="padding-left:0px;padding-right:0.25vw">
      <button id="change-eco" onclick="change_eco()" style="background:<%=current_eco.color%>;margin-top:0.25rem" class="text-center col btn" role="button"><%=current_eco.name%></button>
      <table style="width:100%">
        <tbody>
          <tr class="change">
            <td class="text-center col nowrap shadow-text" id="eco-bank">Bank <%=current_eco.bank%></td>
            <td class="text-center col nowrap shadow-text" id="eco-income">Income <%=current_eco.income%></td>
          </tr>
          <tr class="change">
            <td><button data-amount="1" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+1</button></td>
            <td><button data-amount="1" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+1</button></td>
          </tr>
          <tr class="change">
            <td><button data-amount="-1" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-1</button></td>
            <td><button data-amount="-1" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-1</button></td>
          </tr>
          <tr class="change">
            <td><button data-amount="5" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+5</button></td>
            <td><button data-amount="5" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+5</button></td>
          </tr>
          <tr class="change">
            <td><button data-amount="-5" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-5</button></td>
            <td><button data-amount="-5" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-5</button></td>
          </tr>
          <tr class="change">
            <td><button data-amount="10" onclick="change_bank(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+10</button></td>
            <td><button data-amount="10" onclick="change_income(this)" style="background:<%=current_eco.color%>" class="change-eco-pos text-center col btn btn-change shadow-text" role="button">+10</button></td>
          </tr>
          <tr class="change">
            <td><button data-amount="-10" onclick="change_bank(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-10</button></td>
            <td><button data-amount="-10" onclick="change_income(this)" style="background:<%=current_eco.colorL%>" class="change-eco-neg text-center col btn btn-change shadow-text" role="button">-10</button></td>
          </tr>
        </tbody>
      </table>
      <div class="container" style="padding:0.2rem; margin-top:0.5rem">
        <% if["1940Global","1940OneEco","1940Pacific","1940Europe","1940Grasshopper","1940House"].include? current_game.game_name%>
          <%= link_to "National Objectives", nation_path(current_eco.uuid), :id => "objective", :class =>"btn btn-side shadow-text", :role => "button", :style =>"background:"+current_eco.color %>
          <%= link_to "Research and Development", research_path(current_game.uuid), :id => "research", :class =>"btn btn-side shadow-text", :role => "button", :style => "background:"+current_eco.colorL %>
        <%end%>
        <%if ["1940Grasshopper","1940House"].include? current_game.game_name%>
          <%= link_to "Victory Objectives", victory_path(current_game.uuid), :id => "victory", :class =>"btn btn-side shadow-text", :role => "button", :style =>"background:"+current_eco.color %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div id="bottom-row">
  <%= link_to "Exit", root_path, class:"bottom-aligned-left btn btn-default", role:"button" %>
  <div class="bottom-aligned-middle d-flex">
    <%=link_to "Reset Buy", nil, onclick:"reset_buy()", class:"center btn btn-reset-buy", role:"button" %>
    <div id="c-nation-div" class="d-flex c-nation" style="background-color:<%=current_nation.colorL%>">
      <%=image_tag current_nation.roundel , :id => "roundel", :style => "vertical-align:middle;height:5vw"%>
      <div id="c-nation" class="nation shadow-text text-center" style="color:<%=current_nation.color%>"><%=current_nation.name%>-<%=current_nation.bank%></div>
    </div>
  </div>
  <div class = "bottom-aligned-right">
    <button id="end-turn" class="btn btn-end-turn" onclick="end_turn()" style="background:<%=current_nation.color%>" role="button">End Turn</button>
  </div>
</div>


<script>
  var name = "<%= current_nation.name %>"
  $(document).ready(c_nation_opacity(name));
  $(document).ready(game_padding_resize());
  <%current_nation.researches.all.each do |r| %>
  <%  if ["Mass Production", "Improved Shipyards"].include? r.name and r.enabled%>
      $(document).ready(cheap(true));
    <%end%>
  <%end %>
  $(window).resize(function () {
    game_padding_resize();
  });
</script>
