<% content_for :title, "aaa - objectives - "+@nation.name %>
<% @page = "objective" %>
<%= render 'layouts/gameNavBar' %>
<div class="container-fluid">
  <div class="row" style="padding-top:30px">
    <div class="col-sm-10">
      <div class="objective-card mx-auto mt-4" style="border-color:<%=@nation.color%>;background:<%=@nation.colorL%>">
        <div id="c-nation" class="shadow-text text-center title" style="color:<%=@nation.color%>"><%= @nation.obj_inc %></div>
        <div id="lmao" class="shadow-text text-center v-title sub-title" style="color:<%=@nation.color%>">National Objectives</div>
      </div>
      <div class="conatiner mt-4" style="">
        <% @nation.objectives.each do |o| %>
          <button data-oid="<%=o.oid%>" onclick="update_obj(this)" id="objective-<%=o.oid%>" style="background-color:<%= o.enabled ? @nation.color : ""%>;" class="btn btn-default btn-block <%= o.enabled ? "shadow-text btn-objective-enabled" : "btn-objective" %>" role="button"><strong><%= o.value %></strong> :: <%=o.name %></button>
        <% end %>
      </div>
    </div>
    <div class="col-sm-2 mt-1">
      <% current_game.nations.each do |n| %>
        <%= link_to n.name, nation_path(n.uuid), class:"mt-1 btn btn-nation btn-block btn-default text-center shadow-text", style:"background-color:"+n.color%>
      <% end %>
    </div>
  </div>
</div>
