<div class="container-fluid" style="padding1.5vw">
  <div class="row content" style="padding-bottom:3.0vw">
    <div class="col-sm-10">
      <div id="c-nation" class="shadow-text text-center" style="margin-top;margin-bottom:0.9vw;color:<%=@nation.color%>"><%= @nation.obj_inc %></div>
      <div class="conatiner" style="">
        <% @nation.objectives.each do |o| %>
          <button data-oid="<%=o.oid%>" onclick="update_obj(this)" id="objective-<%=o.oid%>" style="background:<%= o.enabled ? @nation.color : @nation.colorL%>;" class="btn btn-nat shadow-text" role="button"><strong><%= o.value %></strong> :: <%=o.name %></button>
        <% end %>
      </div>
    </div>

    <div class="col-sm-2" style="padding:0.75vw;">
      <div id="nations" class="container" style="padding:0px">
        <% current_game.nations.each do |n| %>
          <div>
            <%= link_to n.name, nation_path(n.uuid), :class => "btn btn-nat shadow-text", :style => "text-align:center;padding:0.1vw;padding-top:"+((90/current_game.nations.last.nid-0.2)/2-2).to_s+"vh;height:"+(90/current_game.nations.last.nid-0.2).to_s+"vh;background-color:"+n.color%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="bottomaligned" >
  <%= link_to "Back", game_path(current_game.uuid), :class =>"btn btn-menu", :role => "button"%>
  <% if["1940Global","1940OneEco","1940Pacific","1940Europe"].include? current_game.game_name%>
    <%= link_to "Research and Development", research_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
  <% elsif current_game.game_name.eql? "1940Grasshopper" %>
    <%= link_to "Victory Objectives", victory_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
    <%= link_to "Research and Development", research_path(current_game.uuid), :class =>"btn btn-menu", :role => "button" %>
  <%end %>
</div>
