<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
    <%if current_user and current_user.sepia %>
      <div class="bg" style=";background-image: url(/assets/backgrounds/sepia/background<%=rand(1..14)%>.jpeg)"></div>
    <% else %>
      <div class="bg" style=";background-image: url(/assets/backgrounds/bandw/background<%=rand(1..18)%>.jpeg)"></div>
    <% end %>

    <%= yield %>
  </body>
</html>
